#rechercher{
  background: #f2f2f2;
}

#images{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal{
  display:none;
}
#images img {
  cursor:pointer;
  margin-bottom:10px;
}
.modal_container{
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ui-dialog{
  width:800px !important;

}
.img-modal{
  max-width: 500px;
}
.modal-infos{

}
