#rechercher{
  background: #d3dbde;
  color: #4e525b  !important;
  border: 1px solid #0c4a5f !important;
  transition: all .2s ease-in !important;
  font-size: 1.4em;
  width: 10vw;
  border-radius: 10px;
}

#images{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#menu{
  background-color: rgb(19, 77, 141);
  padding: 20px;
}
body{
  margin: 0 ;
}
.modal{
  display:none;
}
#formPhotos{
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  position: relative;
  overflow-y: hidden;
  transition: all .2s ease-in !important;
  width: 60vw;
  animation: trx 0.9s ease;

}
@keyframes trx{
  from {transform: translateX(-100vw);}
  to {transform: translateX(0);}

}

#rechercher:hover{
  background-color: white;
  color:black;
}




#formPhotos input{
  height:35px;
  margin:auto;
  border-radius: 4px;
  border: 0px solid;
  font-size: 1.3em;
      width: 15vw;
}

#tabs{
  border: 0 !important;
}
#listTabs{
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;

}
#litabs1 a{
  color:white;
}
#litabs1{
  background-color: rgb(19, 77, 141)!important;

}
#tabs-1{
  background-color: rgb(19, 77, 141);
  border: 1px solid rgb(183, 177, 177);
  width: calc(100vw - 86px) !important;
  margin-left: 7px !important;
}
#litabs2{

}
#images img {
  cursor:pointer;
  margin:10px;
  transition:  all .2s ease-in !important;

}
#images img:hover {
    transform: scale(1.1) !important;
    box-shadow: 1px 0px 10px #01183d !important;
}

.modal_container{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.ui-dialog{
  width:800px !important;

}
.img-modal{
  max-width: 700px;
}
.modal-infos{

}
.ui-widget-overlay{
  background: black none no-repeat !important;
  opacity: 0.5 !important;

}
#tabs{
  width: calc(100vw - 14px) !important;
  margin:auto !important;
}
#tabs ul{
  background-color: rgb(95, 191, 252);
background-image: none;
display: flex;
justify-content: space-between;
}
#tabs ul li{
  background-image: none;
  background-color: white;
  flex:1;
}
#tabs ul li a{
  width:100%;
}
.ui-widget-header {
  background: transparent !important;
  border: 0 !important;
}
.ui-dialog-title{
  display: none !important;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: relative !important;
    top: 50%;
    width: 100% !important;
    margin: auto !important;
    padding: 1px;
    height: 40px !important;
    background: #e7e7e7  !important;
    border-radius: 2px;
    color: white !important;
    border-color: transparent !important;
    transition:  all .2s ease-in !important;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
    position: relative !important;
    top: 50%;
    width: 100% !important;
    margin: auto !important;
    padding: 1px;
    height: 40px !important;
    background: #2078e4 !important;
    border-radius: 2px;
    color: white !important;
    border-color: transparent !important;
}
a.ui-tabs-anchor {
  padding-right:0 !important;
}
